<div id="comment_<%= comment.id %>">
  <!-- <div class="col-md-4" > -->

    <% comment.pictures.each do |pic|  %>
      <%= image_tag pic.image.url%>
    <%end%>
  <!-- </div> -->

 <div id="comment-<%= comment.id %>">
  <div class="comment-rating" data-score="<%= comment.rating %>"></div>

  <p class="comments-description"><%= comment.description %></p>
  
<% if user_signed_in? %>
    <% if comment.user_id == current_user.id %>

      <div id="Destroy" class="links btn-group">
          <%= link_to 'Destroy Comment', [comment.article, comment], remote: true, class:"delete btn btn-custom",
              method: :delete,
              data: { confirm: "Are you sure?" } %>

      </div>
    
    <% end %> 
  <% end %>
</div>
</div>
