<%= form_for [ @article, @article.comments.build ], url: article_comments_path(@article), remote: true do |form| %>
 
    <div id="rating-form">
     <%= form.label :rating ,placeholder:"Rate the article"  %><br>
   
  </div>
<%= form.hidden_field :user_id, value: current_user.id %>
<p>
    <%= form.label :description %><br>
    <%= form.text_area :description , rows: 2, cols:30, placeholder:"Write a Comment..." %>
  </p>

  <p>
    <%= form.fields_for :pictures, form.object.pictures.build do |f| %>
        <%= f.label :image %><br>
        <%= f.file_field :image%>
    <%end %>
    
 </p> 

  <p>
     <%= form.submit 'Post comment', class:'button' %>
  </p>
  <% end %>


<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'comment[rating]'
  });
</script>