<%= form_with model: [ @article, @article.comments.build ], local: true do |form| %>
 

  <p>
    <%= form.label :rating ,placeholder:"Rate the article" %><br>
    <%= form.radio_button :rating, 1 %> Hate
    <%= form.radio_button :rating, 2 %> Dislike
    <%= form.radio_button :rating, 3 %> Netral
    <%= form.radio_button :rating, 4 %>Like
    <%= form.radio_button :rating, 5 %> Outstanding

  </p>
    <%= form.hidden_field :user_id, value: current_user.id %>
     
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description , rows: 2, cols:30, placeholder:"Write a Comment..." %>
  </p>
  <p>
     <%= form.submit 'Post comment', class:'button' %>
  </p>
<% end %>
