<div class="row">

   <% articles.each do |article| %>
   <!-- here at articles.each we didn't write @articles because in index.html.erb we have already initialize it with  articles: @articles  -->

      <div class="col-md-3">
        <a href="/articles/<%= article.id %>">
          <%= image_tag article.image.url(:medium) %>
        
        </a>
        <h3><%= link_to article.Tittle, article %></h3>
      </div>  

    <% end %>

  </div>
<h5><%= link_to "New Article", new_article_path ,class:"btn btn-custom"%></h5>





    <%= will_paginate @article %>
