<div class="row">
  <div class="col-md-4" >
    <%@article.pictures.each do |pic|  %>
       <%= image_tag pic.image.url %>
    <% end %>
  </div>
  <div class="col-md-8">
    <div class="article-info">
      <h1 class="article-title"><%= @article.Tittle %></h1>
      <h3 class="article-author"><span>From</span> <%= @article.user.email %></h3>
      <p id="notice"><%= notice %></p>
      <div class="average-comment-rating" data-score=<%= @average_comment %>></div>
      <p class="article_desc"><%= @article.description %></p>
   </div>
   <div class="links btn-group">
  
    <% if @article.user_id == current_user.id %>
      
      <h4><%= link_to "Edit", edit_article_path(@article), class:"btn btn-custom"%>&nbsp&nbsp</h4> 
      <h4><%= link_to "Destroy", article_path(@article),class:"btn btn-custom",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></h4>
    <% end %>
 

</div>

  </div>
</div>

<!-- comment section start -->

<h2><br>Comments</h2>
<div id='com_ment'>
  <%= render @article.comments %>
</div>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<script>
  $('.comment-rating').raty({
    readOnly: true,
    score: function() {
      return $('.comment-rating').attr('data-score');
    },
    path: '/assets/'
  });
</script>
<script>
  $('.average-comment-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>

<!-- <script>
  $('.average-comment-rating').raty({
     click: function(score, evt) {
    alert('ID: ' + this.id + "\nscore: " + score + "\nevent: " + evt);
  }
    }
  });
</script> -->

