 <h1><%= @article.Tittle %></h1>
 <p id="notice"><%= notice %></p>
 <table border="2">
  
  <tr>
    <td>
      <%= @article.description %>
    </td>
    <td>
      
      <%#= image_tag @article.image.url(:medium) %>
      <%= image_tag @article.image.url(:thumb) %>
    </td>
    <!-- <td>
      <div class="average-comment-rating" data-score=<%= @average_comment %>></div>

    </td> -->
    
    <td>
      <%= link_to "Edit", edit_article_path(@article) %>
    </td>
    <td>
      <%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </td>

   </tr>

</table>
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<script>
  $('.comment-rating').raty({
    readOnly: true,
    score: function() {
      return $('.comment-rating').attr('data-score');
    },
    path: '/assets/'
  });
</script>
<!-- <script>
  $('.average-comment-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script> -->
<!-- <script>
  $('.average-comment-rating').raty({
     click: function(score, evt) {
    alert('ID: ' + this.id + "\nscore: " + score + "\nevent: " + evt);
  }
    }
  });
</script> -->

