<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "BLOG", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </div>
  
  
  <p class="navbar-text float-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

  <div>
  
   <!-- search through JS request  -->

  <%= form_tag articles_path, method: :get, remote: true do %>
  <!-- by writing remote: true it will give the JS request not HTML request -->
<%= search_field_tag :search, params[:search],placeholder:"type something", class:"form-control", class: 'navbar-form navbar-left', name: "search_key"%>
<p>
  <%= submit_tag "search",  :class => 'btn btn-info glyphicon glyphicon-search',:Tittle=> nil %> 
</p>
<% end %>
  </div>
</nav>
